Q1. What are the three measures of central tendency?

In [1]:
"""The three measures of central tendency of the dataset mean, median and mode.
i-Mean- The mean represents the average value of the dataset. 
It can be calculated as the sum of all the values in the dataset divided by the number of values.
formula- 
mean= (x1+x2+x3......xn)/n

ii-Median-Median is the middle value of the dataset in which the dataset is arranged in the ascending order or in descending order.
formula-
for n Odd terms Median = [(n + 1)/2]th term
n Even terms Median = [(n/2)th term + ((n/2) + 1)th term]/2

iii-Mode- The mode is the value that occurs the most frequently in your data set, making it a different type of measure of central tendency than the mean or median.
formula-
Mode = L + (f 1– f 0/2f 1– f 0– f 2 ) h.
where-l = lower limit of the modal class
h = size of the class interval
f1 = frequency of the modal class
f0 = frequency of the class preceding the modal class
f2 = frequency of the class succeeding the modal class """

'The three measures of central tendency of the dataset mean, median and mode.\ni-Mean- The mean represents the average value of the dataset. \nIt can be calculated as the sum of all the values in the dataset divided by the number of values.\nformula- \nmean= (x1+x2+x3......xn)/n\n\nii-Median-Median is the middle value of the dataset in which the dataset is arranged in the ascending order or in descending order.\nformula-\nfor n Odd terms Median = [(n + 1)/2]th term\nn Even terms Median = [(n/2)th term + ((n/2) + 1)th term]/2\n\niii-Mode- The mode is the value that occurs the most frequently in your data set, making it a different type of measure of central tendency than the mean or median.\nformula-\nMode = L + (f 1– f 0/2f 1– f 0– f 2 ) h.\nwhere-l = lower limit of the modal class\nh = size of the class interval\nf1 = frequency of the modal class\nf0 = frequency of the class preceding the modal class\nf2 = frequency of the class succeeding the modal class '

Q3. Measure the three measures of central tendency for the given height data:
[178,177,176,177,178.2,178,175,179,180,175,178.9,176.2,177,172.5,178,176.5]

In [2]:
x=[178,177,176,177,178.2,178,175,179,180,175,178.9,176.2,177,172.5,178,176.5]

In [3]:
import numpy as np
np.mean(x)

177.01875

In [4]:
np.median(x)

177.0

In [6]:
from scipy import stats
stats.mode(x)

/tmp/ipykernel_147/3269743869.py:2: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  stats.mode(x)

ModeResult(mode=array([177.]), count=array([3]))

Q4. Find the standard deviation for the given data:
[178,177,176,177,178.2,178,175,179,180,175,178.9,176.2,177,172.5,178,176.5]

In [7]:
data= [178,177,176,177,178.2,178,175,179,180,175,178.9,176.2,177,172.5,178,176.5]

In [8]:
np.std(data)

1.7885814036548633

Q5. How are measures of dispersion such as range, variance, and standard deviation used to describe
the spread of a dataset? Provide an example.

In [13]:
"""Range-The range of the data is given as the difference between the maximum and the minimum values of the observations in the data.
Example [10,2,34,56,44]
range=max number-min number
range=56-2=54 
Variance - The variance of the data is given by measuring the distance of the observed values from the mean of the distribution.
 Standard Deviation -The square root of the variance gives the standard deviation. 
  standard deviation also measures the variation of the data about the mean."""

'Range-The range of the data is given as the difference between the maximum and the minimum values of the observations in the data.\nExample [10,2,34,56,44]\nrange=max number-min number\nrange=56-2=54 \nVariance - The variance of the data is given by measuring the distance of the observed values from the mean of the distribution.\n Standard Deviation -The square root of the variance gives the standard deviation. \n  standard deviation also measures the variation of the data about the mean.'

In [17]:
# Example of variance and standard deviation
a=[12,23,43,21,13,24,31]
np.std(a)

9.891245356065006

In [18]:
np.var(a)

97.83673469387755

Q6. What is a Venn diagram?

In [19]:
"""A Venn diagram is an illustration that uses circles to show the relationships among things or finite groups of things."""

'A Venn diagram is an illustration that uses circles to show the relationships among things or finite groups of things.'

Q7. For the two given sets A = (2,3,4,5,6,7) & B = (0,2,6,8,10). Find:
(i) A∩B
(ii) A ⋃ B

In [20]:
A = (2,3,4,5,6,7) 
B = (0,2,6,8,10)
A∩B=[2,6]
AUB=[0,2,3,4,5,6,7,8,10]

SyntaxError: invalid character '∩' (U+2229) (2237733754.py, line 3)

Q8. What do you understand about skewness in data?

In [21]:
"""Skewness is a measurement of the distortion of symmetrical distribution or asymmetry in a data set.
Skewness is demonstrated on a bell curve when data points are not distributed symmetrically to the left and right sides of the median on a bell curve."""

'Skewness is a measurement of the distortion of symmetrical distribution or asymmetry in a data set.\nSkewness is demonstrated on a bell curve when data points are not distributed symmetrically to the left and right sides of the median on a bell curve.'

Q9. If a data is right skewed then what will be the position of median with respect to mean?

In [23]:
"""If the distribution of data is skewed to the right, the mode is often less than the median, which is less than the mean."""

'If the distribution of data is skewed to the right, the mode is often less than the median, which is less than the mean.'

Q10. Explain the difference between covariance and correlation. How are these measures used in
statistical analysis?

In [ ]:
"""Covariance indicates the direction of the linear relationship between variables.
Correlation measures both the strength and direction of the linear relationship between two variables.
Correlation values are standardized."""

In [25]:
import seaborn as sns
df=sns.load_dataset('healthexp')
df.head()

   Year        Country  Spending_USD  Life_Expectancy
0  1970        Germany       252.311             70.6
1  1970         France       192.143             72.2
2  1970  Great Britain       123.993             71.9
3  1970          Japan       150.437             72.0
4  1970            USA       326.961             70.9

In [26]:
df.cov()

/tmp/ipykernel_147/1545644723.py:1: FutureWarning: The default value of numeric_only in DataFrame.cov is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.cov()

                         Year  Spending_USD  Life_Expectancy
Year               201.098848  2.571883e+04        41.915454
Spending_USD     25718.827373  4.817761e+06      4166.800912
Life_Expectancy     41.915454  4.166801e+03        10.733902

In [27]:
df.corr()

/tmp/ipykernel_147/1134722465.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

                     Year  Spending_USD  Life_Expectancy
Year             1.000000      0.826273         0.902175
Spending_USD     0.826273      1.000000         0.579430
Life_Expectancy  0.902175      0.579430         1.000000

Q11. What is the formula for calculating the sample mean? Provide an example calculation for a
dataset.

In [28]:
"""The general sample mean formula for calculating the sample mean is expressed as 
x̄ = ( Σ xi ) ÷ n.
Here, x̄ denotes sample mean,
xi refers all X sample values
'n' number of sample terms in the given data."""
s=[1,2,3,4,5,6,7,8,12,13]

In [29]:
np.mean(s)

6.1

Q12. For a normal distribution data what is the relationship between its measure of central tendency?

In [31]:
""" The relationship between its measure of central tendency for a normal distribution data what is -
mean=median=mode  """

' The relationship between its measure of central tendency for a normal distribution data what is -\nmean=median=mode  '

Q13. How is covariance different from correlation?

In [32]:
"""Covariance tells us the direction of the relationship between two variables,
while correlation provides an indication as to how strong the relationship between the two variables is,in addition to the direction of correlated variables.
Correlation values range from +1 to -1.
covariance values can exceed this scale, ranging from +-∞ to +∞.   """

'Covariance tells us the direction of the relationship between two variables,\nwhile correlation provides an indication as to how strong the relationship between the two variables is,in addition to the direction of correlated variables.\nCorrelation values range from +1 to -1.\ncovariance values can exceed this scale, ranging from +-∞ to +∞.   '

Q14. How do outliers affect measures of central tendency and dispersion? Provide an example.

In [ ]:
""" outliers can distort the measures of central tendency (mean, median, mode) and measures of dispersion (range, standard deviation, variance)